apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: student-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/vineetsaini97/kubernetes-demo.git
    targetRevision: master
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
